/* navigation*/
#logo img{
    height: 50px;
    width: 50px;
    /*display: flex;
    position: absolute;
    flex-direction: column;*/
    left: 44%;
}
a{
    font-size: 15px;
}

/*home*/
.h-primary{ 
    font-size: 20px;
    margin-block-start: 148px;
}
#first,#second{
    
    padding-left:26px;
}
/* #second{
    
} */
#home1::before{
    height: 285px;
}
.btn{
    margin-bottom: 113px;
}

/*services*/

#services{
    flex-direction: column;
    margin-block-start: -60px;
    margin: -11px;
}
#services-container{
    margin-block-start: -180px;
}
.box img{
    width: 150px;
    height: 150px;
}

/*cliehnt section*/


#cceo{
    flex-wrap: wrap;
}
.client-item2 img{
    display: block;
    width: 180px;
    margin: auto;
    border-radius: 33px;
    /*background-clip: content-box;*/
}

/*contact*/
.cnt{
    flex-wrap: wrap;
    font-size: 24px;
}
/*footer
footer{

}  */